
.imagen1{
    background-color: white;
    border-radius: 5px;
    height: 4vh;
}

.inputsearch{
    width: 100%;
}

.bnavbar{
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;

}

.offset{
    min-height: 100px;
}